* {
    color: white;
}

body {
    background: url(bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    width: 95%;
    margin: 0 auto;
    height: 70vh;
    border: solid 2px white;
    border-style: dashed;
}

.box {
    background-color: rgba(82, 144, 167, 0.893);
    text-align: center;
    margin: 50px auto;
    width: 65%;
    height: 80vh;
    border: solid 2px white;
    border-style: dashed;
    border-radius: 30px;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.4);
}

td, th, table {
    border: solid 1px white;
    border-collapse: collapse;
}

td, th {
    width: 10%;
}

td:hover, th:hover {
    background-color: rgba(130, 222, 255, 0.893);
}

@media (max-width: 500px) {
    .box {
        overflow: scroll;
    }
}

@media (max-height: 500px) {
    .box {
        overflow: scroll;
    }
}
